In [12]:
import pandas as pd

data = pd.read_csv("../data/nifty50.csv", header=[0,1])

In [13]:
data.head()

        Price        Close         High          Low         Open    Volume
       Ticker        ^NSEI        ^NSEI        ^NSEI        ^NSEI     ^NSEI
0        Date          NaN          NaN          NaN          NaN       NaN
1  2015-01-02  8395.450195  8410.599609  8288.700195  8288.700195  101900.0
2  2015-01-05  8378.400391  8445.599609  8363.900391  8407.950195  118200.0
3  2015-01-06  8127.350098  8327.849609  8111.350098  8325.299805  172800.0
4  2015-01-07  8102.100098  8151.200195  8065.450195  8118.649902  164100.0

In [14]:

data.columns = data.columns.get_level_values(0)

In [15]:
data.head()

        Price        Close         High          Low         Open    Volume
0        Date          NaN          NaN          NaN          NaN       NaN
1  2015-01-02  8395.450195  8410.599609  8288.700195  8288.700195  101900.0
2  2015-01-05  8378.400391  8445.599609  8363.900391  8407.950195  118200.0
3  2015-01-06  8127.350098  8327.849609  8111.350098  8325.299805  172800.0
4  2015-01-07  8102.100098  8151.200195  8065.450195  8118.649902  164100.0

In [16]:

data = data.iloc[1:]

In [17]:
data

,Price,Close,High,Low,Open,Volume
1,2015-01-02,8395.450195,8410.599609,8288.700195,8288.700195,101900.0
2,2015-01-05,8378.400391,8445.599609,8363.900391,8407.950195,118200.0
3,2015-01-06,8127.350098,8327.849609,8111.350098,8325.299805,172800.0
4,2015-01-07,8102.100098,8151.200195,8065.450195,8118.649902,164100.0
5,2015-01-08,8234.599609,8243.500000,8167.299805,8191.399902,143800.0
...,...,...,...,...,...,...
2703,2025-12-23,26177.150391,26233.550781,26119.050781,26205.199219,216600.0
2704,2025-12-24,26142.099609,26236.400391,26123.000000,26170.650391,188800.0
2705,2025-12-26,26042.300781,26144.199219,26008.599609,26121.250000,142200.0
2706,2025-12-29,25942.099609,26106.800781,25920.300781,26063.349609,234300.0
2707,2025-12-30,25938.849609,25976.750000,25878.000000,25940.900391,396900.0

In [21]:

data["Price"] = pd.to_datetime(data["Price"])
data = data.set_index("Price")

In [22]:
data

                   Close          High           Low          Open    Volume
Price
2015-01-02   8395.450195   8410.599609   8288.700195   8288.700195  101900.0
2015-01-05   8378.400391   8445.599609   8363.900391   8407.950195  118200.0
2015-01-06   8127.350098   8327.849609   8111.350098   8325.299805  172800.0
2015-01-07   8102.100098   8151.200195   8065.450195   8118.649902  164100.0
2015-01-08   8234.599609   8243.500000   8167.299805   8191.399902  143800.0
...                  ...           ...           ...           ...       ...
2025-12-23  26177.150391  26233.550781  26119.050781  26205.199219  216600.0
2025-12-24  26142.099609  26236.400391  26123.000000  26170.650391  188800.0
2025-12-26  26042.300781  26144.199219  26008.599609  26121.250000  142200.0
2025-12-29  25942.099609  26106.800781  25920.300781  26063.349609  234300.0
2025-12-30  25938.849609  25976.750000  25878.000000  25940.900391  396900.0

[2707 rows x 5 columns]

In [23]:
data

                   Close          High           Low          Open    Volume
Price
2015-01-02   8395.450195   8410.599609   8288.700195   8288.700195  101900.0
2015-01-05   8378.400391   8445.599609   8363.900391   8407.950195  118200.0
2015-01-06   8127.350098   8327.849609   8111.350098   8325.299805  172800.0
2015-01-07   8102.100098   8151.200195   8065.450195   8118.649902  164100.0
2015-01-08   8234.599609   8243.500000   8167.299805   8191.399902  143800.0
...                  ...           ...           ...           ...       ...
2025-12-23  26177.150391  26233.550781  26119.050781  26205.199219  216600.0
2025-12-24  26142.099609  26236.400391  26123.000000  26170.650391  188800.0
2025-12-26  26042.300781  26144.199219  26008.599609  26121.250000  142200.0
2025-12-29  25942.099609  26106.800781  25920.300781  26063.349609  234300.0
2025-12-30  25938.849609  25976.750000  25878.000000  25940.900391  396900.0

[2707 rows x 5 columns]

In [24]:
data.index.name = "Date"

In [25]:
data

                   Close          High           Low          Open    Volume
Date
2015-01-02   8395.450195   8410.599609   8288.700195   8288.700195  101900.0
2015-01-05   8378.400391   8445.599609   8363.900391   8407.950195  118200.0
2015-01-06   8127.350098   8327.849609   8111.350098   8325.299805  172800.0
2015-01-07   8102.100098   8151.200195   8065.450195   8118.649902  164100.0
2015-01-08   8234.599609   8243.500000   8167.299805   8191.399902  143800.0
...                  ...           ...           ...           ...       ...
2025-12-23  26177.150391  26233.550781  26119.050781  26205.199219  216600.0
2025-12-24  26142.099609  26236.400391  26123.000000  26170.650391  188800.0
2025-12-26  26042.300781  26144.199219  26008.599609  26121.250000  142200.0
2025-12-29  25942.099609  26106.800781  25920.300781  26063.349609  234300.0
2025-12-30  25938.849609  25976.750000  25878.000000  25940.900391  396900.0

[2707 rows x 5 columns]

In [26]:
data["returns"] = data["Close"].pct_change()

In [27]:
data["volatility_20"] = data["returns"].rolling(20).std()

In [28]:
data["sma_20"] = data["Close"].rolling(20).mean()
data["sma_50"] = data["Close"].rolling(50).mean()

data["trend_strength"] = (data["sma_20"] - data["sma_50"]) / data["sma_50"]

In [29]:
data["daily_range"] = (data["High"] - data["Low"]) / data["Close"]
data["range_20"] = data["daily_range"].rolling(20).mean()

In [30]:
feature_data = data[
    ["returns", "volatility_20", "trend_strength", "range_20"]
].dropna()

In [31]:
feature_data.describe()

           returns  volatility_20  trend_strength     range_20
count  2658.000000    2658.000000     2658.000000  2658.000000
mean      0.000467       0.008859        0.006215     0.010996
std       0.010239       0.005150        0.025784     0.005111
min      -0.129805       0.003169       -0.176034     0.005547
25%      -0.004279       0.006059       -0.008549     0.008151
50%       0.000596       0.007665        0.009152     0.010065
75%       0.005866       0.009960        0.021241     0.012509
max       0.087632       0.055963        0.059284     0.062015

In [32]:
feature_data

             returns  volatility_20  trend_strength  range_20
Date
2015-03-17  0.010442       0.009467        0.014991  0.012390
2015-03-18 -0.004287       0.009503        0.013599  0.012434
2015-03-19 -0.005900       0.009403        0.011650  0.012957
2015-03-20 -0.007383       0.009441        0.008751  0.012725
2015-03-23 -0.002333       0.009365        0.006085  0.012648
...              ...            ...             ...       ...
2025-12-23  0.000181       0.005279        0.005600  0.006894
2025-12-24 -0.001339       0.004497        0.004767  0.006401
2025-12-26 -0.003818       0.004570        0.003737  0.006339
2025-12-29 -0.003848       0.004638        0.002755  0.006492
2025-12-30 -0.000125       0.004637        0.002025  0.006297

[2658 rows x 4 columns]

In [33]:

feature_data.to_csv("../features/market_features.csv")