In [12]:
import yfinance as yf
import pandas as pd

data = yf.download("^NSEI", start="2015-01-01", end="2025-12-31")
data.head()

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open  Volume
Ticker            ^NSEI        ^NSEI        ^NSEI        ^NSEI   ^NSEI
Date
2015-01-02  8395.450195  8410.599609  8288.700195  8288.700195  101900
2015-01-05  8378.400391  8445.599609  8363.900391  8407.950195  118200
2015-01-06  8127.350098  8327.849609  8111.350098  8325.299805  172800
2015-01-07  8102.100098  8151.200195  8065.450195  8118.649902  164100
2015-01-08  8234.599609  8243.500000  8167.299805  8191.399902  143800

In [13]:
data.head()

Price             Close         High          Low         Open  Volume
Ticker            ^NSEI        ^NSEI        ^NSEI        ^NSEI   ^NSEI
Date
2015-01-02  8395.450195  8410.599609  8288.700195  8288.700195  101900
2015-01-05  8378.400391  8445.599609  8363.900391  8407.950195  118200
2015-01-06  8127.350098  8327.849609  8111.350098  8325.299805  172800
2015-01-07  8102.100098  8151.200195  8065.450195  8118.649902  164100
2015-01-08  8234.599609  8243.500000  8167.299805  8191.399902  143800

In [14]:
data.shape

(2707, 5)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2707 entries, 2015-01-02 to 2025-12-30
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   (Close, ^NSEI)   2707 non-null   float64
 1   (High, ^NSEI)    2707 non-null   float64
 2   (Low, ^NSEI)     2707 non-null   float64
 3   (Open, ^NSEI)    2707 non-null   float64
 4   (Volume, ^NSEI)  2707 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 126.9 KB

In [16]:
data.describe()

Price          Close          High           Low          Open        Volume
Ticker         ^NSEI         ^NSEI         ^NSEI         ^NSEI         ^NSEI
count    2707.000000   2707.000000   2707.000000   2707.000000  2.707000e+03
mean    14520.200323  14595.069188  14442.015638  14529.220190  3.210886e+05
std      5719.712933   5739.974570   5697.532086   5718.779749  1.882717e+05
min      6970.600098   7034.200195   6825.799805   7023.649902  0.000000e+00
25%      9818.174805   9886.349609   9752.349609   9820.799805  2.001000e+05
50%     11917.200195  11975.049805  11859.400391  11934.650391  2.659000e+05
75%     18291.750000  18356.625000  18210.875000  18308.500000  3.785500e+05
max     26216.050781  26325.800781  26172.400391  26325.800781  1.811000e+06

In [17]:
data.head()

Price             Close         High          Low         Open  Volume
Ticker            ^NSEI        ^NSEI        ^NSEI        ^NSEI   ^NSEI
Date
2015-01-02  8395.450195  8410.599609  8288.700195  8288.700195  101900
2015-01-05  8378.400391  8445.599609  8363.900391  8407.950195  118200
2015-01-06  8127.350098  8327.849609  8111.350098  8325.299805  172800
2015-01-07  8102.100098  8151.200195  8065.450195  8118.649902  164100
2015-01-08  8234.599609  8243.500000  8167.299805  8191.399902  143800

In [18]:
data.tail()

Price              Close          High           Low          Open  Volume
Ticker             ^NSEI         ^NSEI         ^NSEI         ^NSEI   ^NSEI
Date
2025-12-23  26177.150391  26233.550781  26119.050781  26205.199219  216600
2025-12-24  26142.099609  26236.400391  26123.000000  26170.650391  188800
2025-12-26  26042.300781  26144.199219  26008.599609  26121.250000  142200
2025-12-29  25942.099609  26106.800781  25920.300781  26063.349609  234300
2025-12-30  25938.849609  25976.750000  25878.000000  25940.900391  396900

In [19]:

data.to_csv("../data/nifty50.csv")